*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: #333;
}

.steps{
  width: 600px;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 25px 100px;
  margin: 100px auto;
}

.numbers{
  display: flex;
  justify-content: space-between;
}

.numbers > div {
height: 40px;
aspect-ratio: 1;
background-color: #e7e7e7;
border-radius: 50%;

}

.active{
 color:  red;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 15%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.close:hover{
  color: #7950f2;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.buttons button span{
  font-size: 16px;
  line-height: 1;
}

h3{
  margin: 0;
  text-transform: uppercase;
}